body{
    background-color: #eee;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.container{
    background-color: #fff;
    padding:20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    text-align: center;
    animation: cardAnimation 1s ease-in-out;
}
@keyframes cardAnimation {
    from{
        transform: scale(0);
        opacity: 0;
    }to{
        transform: scale(1);
        opacity: 1;
    }
}
h1,h2{
    color: rgb(36, 235, 168);
    font-size: 32px;
    margin-bottom: 20px;
}
.option{
    margin-bottom: 10px;
}
input[type='radio']{
    display: none;
}
label{
    display: inline-block;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.option input[type='radio']:checked + label{
    background-color: rgb(36, 235, 168);
    color: white;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    background-color:  rgb(7, 255, 147);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover{
    background-color: rgb(0, 161, 91);
    color:#eee;
}

#result{
    margin-top:20px;
    font-size: 20px;
    color:rgb(36, 235, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option-result{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.option-text{
    flex:1;
}
.bar-container{
    flex:3;
    background-color: rgb(95, 255, 202);
    margin: 0 10px;
    height: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.bar{
    height: 100%;
    background-color: rgb(36, 235, 168);
    width: 0;
    transform: width 0.5s ease-in-out;
}
.percentage{
    flex:1;
    font-weight: bold;
    color: rgb(36, 235, 168);
}